sl-button-group {
  input[type] {
    border-radius: 100px 0 0 100px;
    outline: none;
    padding: 0 1rem;
  }
  sl-input::part(form-control-input) {
    margin: 0;
  }
  sl-input::part(base) {
    border-radius: 100px 0 0 100px;
  }
}

.edit-employee {
  .td {
    @apply align-middle leading-tight w-auto;

    input[type='text'] {
      @apply text-sm leading-tight p-1 w-full;
    }
  }
}

.test-class {
  background: orange;
}
