sl-button-group {
  input {
    border: 5px solid red;
    border-radius: 100px 0 0 100px;
    outline: none;
    padding: 0 1rem;
  }
  sl-input::part(form-control-input) {
    margin: 0;
  }
  sl-input::part(base) {
    border-radius: 100px 0 0 100px;
  }
}
