/* NOTE: This really should be getting imported from design-system. Not sure why it isn't. */

.table    { display: table; }
.tr       { display: table-row; }
.thead    { display: table-header-group; }
.tbody    { display: table-row-group; }
.tfoot    { display: table-footer-group; }
.col      { display: table-column; }
.colgroup { display: table-column-group; }
.td, .th  { display: table-cell; }
.caption  { display: table-caption; }

.table {
  --ts-color-row-bg-odd: #3331;
  --ts-color-row-bg-even: #ccc1;
  --ts-color-header-row-bg: #ccc;
  --ts-table-row-gap: 0.25rem;
  --ts-table-column-gap: 1rem;
  --ts-table-th-padding: var(--spacing-x-small, 0.5rem) 0rem;
  --ts-table-td-padding: 0.75rem 0rem;

  &.alternating-rows {
    .tr:nth-child(odd) {
      background-color: var(--ts-color-row-bg-odd);
    }

    .tr:nth-child(even) {
      background-color: var(--ts-color-row-bg-even);
    }
  }

  .responsive-row-group, .responsive-column-group {
    display: contents;
  }

  .responsive-label {
    display: none;
  }

  &, .thead, .tbody, .tfoot, .tr {
    width: 100%;
  }

  .thead .tr {
    position: sticky;
    z-index: 10;
  }

  .th, .td {
    white-space: nowrap;
    overflow: hidden;
  }

  .th {
    @apply font-semibold;
    padding: var(--ts-table-th-padding);
  }

  .td {
    padding: var(--ts-table-td-padding);
  }
}

*:has(> .table.responsive) {
  container-type: size;
}

.table.responsive {
  @container (max-width: 430px) {
    &, .tr, .td {
      display: block;
      max-width: 100%;

      &.inline {
        display: inline-block;
      }
    }

    .responsive-row-group, .responsive-column-group {
      display: flex;
      column-gap: var(--ts-table-column-gap);
      row-gap: var(--ts-table-row-gap);
    }

    .responsive-row-group {
      flex-flow: column wrap;
    }

    .responsive-column-group {
      flex-flow: row wrap;
    }

    .responsive-label {
      display: inline;
    }

    .tr {
      display: flex;
      flex-flow: row wrap;
      column-gap: 1rem;
      row-gap: 0.25rem;
    }

    .td {
      padding: var(--ts-table-cell-padding);
    }

    .th {
      display: none;
    }
  }
}
