.table {
  display: table;
  width: auto;

}

.tr {
  display: table-row;
  width: auto;
}

.tr:nth-child(odd) {
  background-color: #3331;
}

.tr:nth-child(even) {
  background-color: #ccc1;
}

.th, .td {
  display: table-cell;
  padding: 0.1rem 0.5rem;
  white-space: nowrap;
}

.th {
  font-weight: bold;
  background-color: #3333;
}